<% include header %>
<header>DASHBOARD</header>
<article class="container dashboard">
  <p>Username: <%= username %></p>
  <p>Email: <%= email %></p>
  <p><a href="/choice">Do choice questions</a></p>
  <p><a href="/progress">Progress</a></p>
  <p><a href="/ranking">Ranking</a></p>
  <p><a href="/logout">Log out</a></p>
</article>